p.speech {
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    color: black;

}
p.song{
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}
p.direction{
    font-size: 13px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: bisque;
}
direction:hover { 
        background-color: yellow; 
        color:green;
    }
h6.name
{
    font-size: 14px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:blue;
}

.mai {
    font-size: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
}
.jan {
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    color:brown;
}
.gro {
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:burlywood;
}
.ang {
    font-size: 18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: silver;
}
.ell{
    font-size: 19px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: skyblue;
}
.sap{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orangered;
}
.chorus{
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;
    color:navy;
}
table.table{
   border:1mm;
   color:red;
   text-align: center;
   padding: 50px;
   margin: 10px;
}
tr:nth-child(odd)
{
    background-color:yellowgreen ;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
li{
    float:left;
}
h6.name:hover, h6.name:active{
    text-shadow: 2px 2px 2px red;
    border: 10px;
    border-color: blue;
    border-style: dotted;
}